.common-h21-wrapper {
  display: contents;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment14 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text14 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment14 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text14 {
  display: inline-block;
}
 

 
.common-h21root-class-name1 {
  align-self: center;
}
 
.common-h21root-class-name2 {
  align-self: center;
}
 

 
.common-h21root-class-name4 {
  align-self: center;
}
 

 

 
.common-h21root-class-name7 {
  align-self: center;
}
 
.common-h21root-class-name8 {
  align-self: center;
}
 

 
.common-h21root-class-name10 {
  align-self: center;
}
 


.common-sections-features-feature-entry1-wrapper {
  display: contents;
}
 
.common-sections-features-feature-entry1-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}

.common-sections-features-feature-entry1-wrapper-135h {
  display: contents;
}
 
.common-sections-features-feature-entry1-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}

.common-sections-features-feature-entry1-wrapper-vsuf {
  display: contents;
}
 
.common-sections-features-feature-entry1-container2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}

.common-sections-features-feature-entry1-wrapper-vq5o {
  display: contents;
}
 
.common-sections-features-feature-entry1-container3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}

.common-link3-wrapper {
  display: contents;
}
 
.common-link3-container1 {
  gap: var(--dl-layout-space-half);
}
 
.common-link3-label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
 
.common-link3-icon5 {
  transition: transform .2s ease;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment14 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text14 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-features1-fragment10 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text10 {
  display: inline-block;
}
 

 

 

 

 
.common-link3root-class-name4 {
  align-self: flex-start;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 


.burp-enterprise-sections-features1-burp-enterprise-sections-features {
  position: relative;
  background-color: var(--dl-color-contrasts-section-contrast2);
}
 
.burp-enterprise-sections-features1-fragment10 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text10 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-image1 {
  object-fit: scale-down;
}
 
.burp-enterprise-sections-features1-fragment12 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text12 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment13 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text13 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment14 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text14 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-fragment15 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text15 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text16 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment16 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text18 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment17 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text19 {
  display: inline-block;
  font-size: 22px;
}
 
.burp-enterprise-sections-features1-fragment18 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text20 {
  display: inline-block;
}
 
.burp-enterprise-sections-features1-text21 {
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment19 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text23 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-fragment20 {
  display: contents;
}
 
.burp-enterprise-sections-features1-text24 {
  display: inline-block;
  font-size: 18px;
}
 
.burp-enterprise-sections-features1-text25 {
  text-decoration: underline;
}
 

 

