.common-h21-wrapper {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-fragment1 {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-text2 {
  display: inline-block;
}
 
.burp-enterprise-sections-powered-by-fragment2 {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-text3 {
  display: inline-block;
}
 
.burp-enterprise-sections-powered-by-text5 {
  text-decoration: underline;
}
 
.burp-enterprise-sections-powered-by-fragment1 {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-text2 {
  display: inline-block;
}
 

 
.common-h21root-class-name1 {
  align-self: center;
}
 
.common-h21root-class-name2 {
  align-self: center;
}
 

 
.common-h21root-class-name4 {
  align-self: center;
}
 

 

 
.common-h21root-class-name7 {
  align-self: center;
}
 
.common-h21root-class-name8 {
  align-self: center;
}
 

 
.common-h21root-class-name10 {
  align-self: center;
}
 


.burp-enterprise-sections-powered-by-burp-enterprise-powered-by {
  position: relative;
}
 
.burp-enterprise-sections-powered-by-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.burp-enterprise-sections-powered-by-fragment1 {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-text2 {
  display: inline-block;
}
 
.burp-enterprise-sections-powered-by-fragment2 {
  display: contents;
}
 
.burp-enterprise-sections-powered-by-text3 {
  display: inline-block;
}
 
.burp-enterprise-sections-powered-by-text5 {
  text-decoration: underline;
}
