.client-logo-x-5-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.client-logo-x-5-container2 {
  gap: var(--dl-layout-space-sixunits);
  width: 1140px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.client-logo-x-5-image1 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-5-image2 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-5-image3 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-5-image4 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-5-image5 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 

 

 

 

 

 
.client-logo-x-5root-class-name6 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name7 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name8 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name9 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name10 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name11 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name12 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name13 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name14 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.client-logo-x-5root-class-name15 {
  margin-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-twounits);
}
 

 

 

 

 
@media(max-width: 1366px) {
  .client-logo-x-5root-class-name3 {
    margin-top: var(--dl-layout-space-threeunits);
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .client-logo-x-5root-class-name5 {
    margin-top: var(--dl-layout-space-threeunits);
    margin-bottom: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 1280px) {
  .client-logo-x-5-container2 {
    gap: var(--dl-layout-space-fiveunits);
  }
}
 
@media(max-width: 390px) {
  .client-logo-x-5-container2 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
