.client-logo-x-52-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.client-logo-x-52-container2 {
  gap: var(--dl-layout-space-sixunits);
  width: 1140px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.client-logo-x-52-image1 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-52-image2 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-52-image3 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-52-image4 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x-52-image5 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 

 

 

 

 

 
.client-logo-x-52root-class-name6 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name7 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name8 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name9 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name10 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name11 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name12 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name13 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name14 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x-52root-class-name15 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 

 

 

 

 
@media(max-width: 1280px) {
  .client-logo-x-52-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 95%;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 390px) {
  .client-logo-x-52-container2 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
