.common-link2-container1 {
  gap: var(--dl-layout-space-half);
}
 
.common-link2-label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
 
.common-link2-fragment {
  display: contents;
}
 
.common-link2-text {
  display: inline-block;
}
 

 

 

 

 
.common-link2root-class-name4 {
  align-self: flex-start;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

