.common-h2-fragment {
  display: contents;
}
 
.common-h2-text2 {
  display: inline-block;
}
 

 
.common-h2root-class-name1 {
  align-self: center;
}
 
.common-h2root-class-name2 {
  align-self: center;
}
 

 
.common-h2root-class-name4 {
  align-self: center;
}
 

 

 
.common-h2root-class-name7 {
  align-self: center;
}
 
.common-h2root-class-name8 {
  align-self: center;
}
 

 
.common-h2root-class-name10 {
  align-self: center;
}
 

