.common-link-container1 {
  gap: var(--dl-layout-space-half);
}
 
.common-link-label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
 
.common-link-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.common-link-icon1 {
  transition: transform .2s ease;
}
 
.common-link-icon3 {
  transform: rotate(90deg);
}
 
.common-link-icon5 {
  transition: transform .2s ease;
}
 
.common-link-fragment {
  display: contents;
}
 

 

 

 

 
.common-linkroot-class-name4 {
  align-self: flex-start;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

