.common-link1-container1 {
  gap: var(--dl-layout-space-half);
}
 
.common-link1-label {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
 
.common-link1-fragment {
  display: contents;
}
 
.common-link1-text {
  display: inline-block;
}
 

 

 

 

 
.common-link1root-class-name4 {
  align-self: flex-start;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

