.common-cards-h3-with-paragraph-h3-with-paragraph {
  position: relative;
}
 
.common-cards-h3-with-paragraph-fragment {
  display: contents;
}
 
.common-cards-h3-with-paragraph-text5 {
  display: inline-block;
}
 

