.common-button1-wrapper {
  display: contents;
}
 
.common-button1-container {
  display: flex;
  align-items: stretch;
  border-radius: var(--dl-layout-radius-rounded);
  justify-content: center;
}
 
.common-sections-hero-fragment2 {
  display: contents;
}
 
.common-sections-hero-text19 {
  display: inline-block;
}
 
.common-sections-hero-fragment3 {
  display: contents;
}
 
.common-sections-hero-text20 {
  display: inline-block;
}
 
.common-sections-hero-fragment4 {
  display: contents;
}
 
.common-sections-hero-text21 {
  display: inline-block;
}
 
.common-sections-hero-fragment5 {
  display: contents;
}
 
.common-sections-hero-text22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1.5rem;
}
 
.common-sections-hero-fragment6 {
  display: contents;
}
 
.common-sections-hero-text23 {
  display: inline-block;
}
 
.common-button1root-class-name {
  height: 50px;
}
 
.common-button1root-class-name1 {
  height: 50px;
  align-self: center;
}
 
.common-button1root-class-name2 {
  height: 50px;
}
 

 

 

 
.common-button1root-class-name6 {
  height: 50px;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
.common-button1root-class-name34 {
  height: 50px;
}
 
.common-button1root-class-name35 {
  align-self: flex-start;
}
 

 
.common-button1root-class-name37 {
  height: 50px;
}
 

 

 
.common-button1root-class-name40 {
  height: 50px;
}
 

 

 
.common-button1root-class-name43 {
  height: 50px;
}
 
.common-button1root-class-name44 {
  height: 50px;
}
 
@media(max-width: 1600px) {
  .common-sections-hero-text21 {
    color: var(--dl-color-portswigger-default);
  }
}

.common-sections-hero-hero {
  overflow: clip;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.common-sections-hero-content-container {
  grid-column: 1/3;
}
 
.common-sections-hero-btns-container {
  align-items: flex-start;
}
 
.common-sections-hero-image-container {
  justify-content: center;
}
 
.common-sections-hero-image1 {
  width: 1189px;
  object-fit: cover;
}
 
.common-sections-hero-fragment2 {
  display: contents;
}
 
.common-sections-hero-text19 {
  display: inline-block;
}
 
.common-sections-hero-fragment3 {
  display: contents;
}
 
.common-sections-hero-text20 {
  display: inline-block;
}
 
.common-sections-hero-fragment4 {
  display: contents;
}
 
.common-sections-hero-text21 {
  display: inline-block;
}
 
.common-sections-hero-fragment5 {
  display: contents;
}
 
.common-sections-hero-text22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 1.5rem;
}
 
.common-sections-hero-fragment6 {
  display: contents;
}
 
.common-sections-hero-text23 {
  display: inline-block;
}
 
.common-sections-heroroot-class-name {
  fill: red;
  color: red;
}
 

 
.common-sections-heroroot-class-name2 {
  background-color: #a43434;
}
 

 

 

 

 

 

 

 

 
.common-sections-heroroot-class-name11 {
  fill: red;
  color: red;
}
 

 

 
.common-sections-heroroot-class-name14 {
  background-image: linear-gradient(90deg, rgb(48, 119, 255) 0.00%,rgb(19, 19, 21) 100.00%);
}
 

 

 
.common-sections-heroroot-class-name17 {
  height: auto;
  align-self: flex-start;
}
 
@media(max-width: 1600px) {
  .common-sections-hero-text21 {
    color: var(--dl-color-portswigger-default);
  }
}
 
@media(max-width: 991px) {
  .common-sections-hero-max-width {
    grid-template-columns: 1fr;
  }
  .common-sections-hero-image-container {
    align-items: center;
    padding-left: 0;
    padding-bottom: var(--dl-layout-space-three);
  }
  .common-sections-hero-image1 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .common-sections-hero-content-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
