.full-header-container {
  width: 100%;
  display: flex;
  position: relative;
}
 
.full-header-image10 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image11 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image12 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image13 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image14 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image15 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image16 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image17 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image18 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image19 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image20 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image21 {
  width: 200px;
  object-fit: cover;
}
 
.full-header-image22 {
  width: 200px;
  object-fit: cover;
}
