.primary-button-light3-wrapper {
  display: contents;
}
 
.primary-button-light3-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.primary-button-light3-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
 
.primary-button-light3-button:hover {
  background-color: #D84104;
}
 
.primary-button-light3-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.primary-button-light3-chevron-right {
  width: 16px;
  height: 16px;
}
 
.hero-banner-dark-fragment {
  display: contents;
}
 
.primary-button-light3root-class-name {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light3root-class-name1 {
  width: 100%;
}
 
.primary-button-light3root-class-name2 {
  width: 100%;
}
 

 
.primary-button-light3root-class-name4 {
  width: 100%;
}
 

 
.primary-button-light3root-class-name6 {
  width: 100%;
}
 
.primary-button-light3root-class-name7 {
  width: 100%;
  margin-top: 16px;
}
 

 

 
.primary-button-light3root-class-name10 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light3root-class-name11 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name12 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name13 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light3root-class-name14 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light3root-class-name15 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light3root-class-name16 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name17 {
  margin-bottom: 80px;
}
 

 

 

 

 

 

 

 

 

 

 
.primary-button-light3root-class-name28 {
  width: auto;
}
 
.primary-button-light3root-class-name29 {
  width: auto;
}
 
.primary-button-light3root-class-name30 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name31 {
  width: auto;
}
 
.primary-button-light3root-class-name32 {
  width: auto;
}
 
.primary-button-light3root-class-name33 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name34 {
  width: auto;
}
 
.primary-button-light3root-class-name35 {
  width: auto;
}
 
.primary-button-light3root-class-name36 {
  width: auto;
}
 
.primary-button-light3root-class-name37 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name38 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name39 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name40 {
  margin-bottom: 80px;
}
 
.primary-button-light3root-class-name41 {
  width: auto;
}
 

 

 

 
.primary-button-light3root-class-name45 {
  width: auto;
}
 
.primary-button-light3root-class-name46 {
  width: auto;
}
 
.primary-button-light3root-class-name47 {
  width: auto;
}
 
.primary-button-light3root-class-name48 {
  width: auto;
}
 
.primary-button-light3root-class-name49 {
  width: auto;
}
 
.primary-button-light3root-class-name50 {
  width: auto;
}
 
.primary-button-light3root-class-name51 {
  width: auto;
}
 
.primary-button-light3root-class-name52 {
  width: auto;
}
 
.primary-button-light3root-class-name53 {
  width: auto;
}
 
.primary-button-light3root-class-name54 {
  width: auto;
}
 
.primary-button-light3root-class-name55 {
  width: auto;
}
 
.primary-button-light3root-class-name56 {
  width: auto;
}
 
.primary-button-light3root-class-name57 {
  width: auto;
}
 
.primary-button-light3root-class-name58 {
  width: auto;
}
 
@media(max-width: 1536px) {
  .primary-button-light3-text1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
}
 
@media(max-width: 1280px) {
  .primary-button-light3-button {
    width: 100%;
  }
}
 
@media(max-width: 390px) {
  .primary-button-light3-container {
    width: 100%;
  }
}

.hero-banner-dark-container1 {
  width: 1140px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.hero-banner-dark-container2 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.hero-banner-dark-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  padding-right: 40px;
  flex-direction: column;
}
 
.hero-banner-dark-text1 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 20px;
}
 
.hero-banner-dark-text2 {
  fill: var(--dl-color-text-white);
  color: var(--dl-color-text-white);
  text-align: left;
  margin-bottom: 20px;
}
 
.hero-banner-dark-fragment {
  display: contents;
}
 
.hero-banner-dark-tasksubmenu2 {
  width: 461px;
  height: 374px;
}
 

 
.hero-banner-darkroot-class-name1 {
  margin-top: 32px;
  margin-bottom: 80px;
}
