.primary-button-light1-wrapper {
  display: contents;
}
 
.primary-button-light1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.primary-button-light1-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
 
.primary-button-light1-button:hover {
  background-color: #D84104;
}
 
.primary-button-light1-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.primary-button-light1-chevron-right {
  width: 16px;
  height: 16px;
}
 
.img-right-pro-with-logos-fragment1 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment2 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment3 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment4 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment5 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment3 {
  display: contents;
}
 
.primary-button-light1root-class-name {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light1root-class-name1 {
  width: 100%;
}
 
.primary-button-light1root-class-name2 {
  width: 100%;
}
 

 
.primary-button-light1root-class-name4 {
  width: 100%;
}
 

 
.primary-button-light1root-class-name6 {
  width: 100%;
}
 
.primary-button-light1root-class-name7 {
  width: 100%;
  margin-top: 16px;
}
 

 

 
.primary-button-light1root-class-name10 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light1root-class-name11 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name12 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name13 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light1root-class-name14 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light1root-class-name15 {
  width: 100%;
  margin-top: 16px;
}
 
.primary-button-light1root-class-name16 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name17 {
  margin-bottom: 80px;
}
 

 

 

 

 

 

 

 

 

 

 
.primary-button-light1root-class-name28 {
  width: auto;
}
 
.primary-button-light1root-class-name29 {
  width: auto;
}
 
.primary-button-light1root-class-name30 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name31 {
  width: auto;
}
 
.primary-button-light1root-class-name32 {
  width: auto;
}
 
.primary-button-light1root-class-name33 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name34 {
  width: auto;
}
 
.primary-button-light1root-class-name35 {
  width: auto;
}
 
.primary-button-light1root-class-name36 {
  width: auto;
}
 
.primary-button-light1root-class-name37 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name38 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name39 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name40 {
  margin-bottom: 80px;
}
 
.primary-button-light1root-class-name41 {
  width: auto;
}
 

 

 

 
.primary-button-light1root-class-name45 {
  width: auto;
}
 
.primary-button-light1root-class-name46 {
  width: auto;
}
 
.primary-button-light1root-class-name47 {
  width: auto;
}
 
.primary-button-light1root-class-name48 {
  width: auto;
}
 
.primary-button-light1root-class-name49 {
  width: auto;
}
 
.primary-button-light1root-class-name50 {
  width: auto;
}
 
.primary-button-light1root-class-name51 {
  width: auto;
}
 
.primary-button-light1root-class-name52 {
  width: auto;
}
 
.primary-button-light1root-class-name53 {
  width: auto;
}
 
.primary-button-light1root-class-name54 {
  width: auto;
}
 
.primary-button-light1root-class-name55 {
  width: auto;
}
 
.primary-button-light1root-class-name56 {
  width: auto;
}
 
.primary-button-light1root-class-name57 {
  width: auto;
}
 
.primary-button-light1root-class-name58 {
  width: auto;
}
 
@media(max-width: 1536px) {
  .primary-button-light1-text1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
}
 
@media(max-width: 1280px) {
  .primary-button-light1-button {
    width: 100%;
  }
}
 
@media(max-width: 390px) {
  .primary-button-light1-container {
    width: 100%;
  }
}

.secondary-button-dark-wrapper {
  display: contents;
}
 
.secondary-button-dark-container {
  color: white;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.secondary-button-dark-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-default-white);
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: center;
  background-color: transparent;
}
 
.secondary-button-dark-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.secondary-button-dark-chevron-right {
  width: 16px;
  height: 16px;
}
 
.img-right-pro-with-logos-fragment1 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment2 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment3 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment4 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment5 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment4 {
  display: contents;
}
 

 

 

 

 

 

 

 
@media(max-width: 1280px) {
  .secondary-button-dark-button {
    width: 100%;
  }
}
 
@media(max-width: 390px) {
  .secondary-button-dark-container {
    width: 100%;
  }
}

.client-logo-x52-wrapper {
  display: contents;
}
 
.client-logo-x52-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.client-logo-x52-container2 {
  gap: var(--dl-layout-space-sixunits);
  width: 1140px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.client-logo-x52-image1 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x52-image2 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x52-image3 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x52-image4 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.client-logo-x52-image5 {
  width: auto;
  height: auto;
  object-fit: cover;
}
 
.img-right-pro-with-logos-fragment1 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment2 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment3 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment4 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment5 {
  display: contents;
}
 

 

 

 

 

 
.client-logo-x52root-class-name6 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name7 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name8 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name9 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name10 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name11 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name12 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name13 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name14 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 
.client-logo-x52root-class-name15 {
  margin-top: 64px;
  margin-bottom: 32px;
}
 

 

 

 

 
@media(max-width: 1280px) {
  .client-logo-x52-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 95%;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 390px) {
  .client-logo-x52-container2 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}

.img-right-pro-with-logos-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.img-right-pro-with-logos-container2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(55, 55, 74) 2.00%,rgb(91, 79, 255) 100.00%);
}
 
.img-right-pro-with-logos-container3 {
  gap: var(--dl-layout-space-sixunits);
  width: 1140px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.img-right-pro-with-logos-container4 {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.img-right-pro-with-logos-container5 {
  gap: 20px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.img-right-pro-with-logos-text10 {
  fill: var(--dl-color-text-purple4);
  color: var(--dl-color-text-purple4);
}
 
.img-right-pro-with-logos-text11 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.img-right-pro-with-logos-text12 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.img-right-pro-with-logos-container6 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.img-right-pro-with-logos-component1 {
  color: var(--dl-color-default-white);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 0em;
}
 
.img-right-pro-with-logos-image {
  width: 570px;
  height: 463px;
  object-fit: cover;
}
 
.img-right-pro-with-logos-fragment1 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment2 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment3 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment4 {
  display: contents;
}
 
.img-right-pro-with-logos-fragment5 {
  display: contents;
}
 

