.primary-button-dark-container {
  color: white;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.primary-button-dark-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-default-white);
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
 
.primary-button-dark-button:hover {
  background-color: var(--dl-color-backgrounds-blue6);
}
 
.primary-button-dark-text1 {
  fill: var(--dl-color-text-headinggrey);
  color: var(--dl-color-text-headinggrey);
}
 
.primary-button-dark-image {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
 
.primary-button-dark-fragment {
  display: contents;
}
 
.primary-button-dark-text2 {
  display: inline-block;
}
 
@media(max-width: 1280px) {
  .primary-button-dark-button {
    width: 100%;
  }
}
 
@media(max-width: 390px) {
  .primary-button-dark-container {
    width: 100%;
  }
}
