.primary-button-light-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.primary-button-light-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
 
.primary-button-light-button:hover {
  background-color: #D84104;
}
 
.primary-button-light-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.primary-button-light-chevron-right {
  width: 16px;
  height: 16px;
}
 
.primary-button-light-fragment {
  display: contents;
}
 
.primary-button-light-text2 {
  display: inline-block;
}
 
.primary-button-lightroot-class-name {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 
.primary-button-lightroot-class-name1 {
  width: 100%;
}
 
.primary-button-lightroot-class-name2 {
  width: 100%;
}
 

 
.primary-button-lightroot-class-name4 {
  width: 100%;
}
 

 
.primary-button-lightroot-class-name6 {
  width: 100%;
}
 
.primary-button-lightroot-class-name7 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 

 

 
.primary-button-lightroot-class-name10 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 
.primary-button-lightroot-class-name11 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name12 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name13 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 
.primary-button-lightroot-class-name14 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 
.primary-button-lightroot-class-name15 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
}
 
.primary-button-lightroot-class-name16 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name17 {
  margin-bottom: 80px;
}
 

 

 

 

 

 

 

 

 

 

 
.primary-button-lightroot-class-name28 {
  width: auto;
}
 
.primary-button-lightroot-class-name29 {
  width: auto;
}
 
.primary-button-lightroot-class-name30 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name31 {
  width: auto;
}
 
.primary-button-lightroot-class-name32 {
  width: auto;
}
 
.primary-button-lightroot-class-name33 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name34 {
  width: auto;
}
 
.primary-button-lightroot-class-name35 {
  width: auto;
}
 
.primary-button-lightroot-class-name36 {
  width: auto;
}
 
.primary-button-lightroot-class-name37 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name38 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name39 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name40 {
  margin-bottom: 80px;
}
 
.primary-button-lightroot-class-name41 {
  width: auto;
}
 

 

 

 
.primary-button-lightroot-class-name45 {
  width: auto;
}
 
.primary-button-lightroot-class-name46 {
  width: auto;
}
 
.primary-button-lightroot-class-name47 {
  width: auto;
}
 
.primary-button-lightroot-class-name48 {
  width: auto;
}
 
.primary-button-lightroot-class-name49 {
  width: auto;
}
 
.primary-button-lightroot-class-name50 {
  width: auto;
}
 
.primary-button-lightroot-class-name51 {
  width: auto;
}
 
.primary-button-lightroot-class-name52 {
  width: auto;
}
 
.primary-button-lightroot-class-name53 {
  width: auto;
}
 
.primary-button-lightroot-class-name54 {
  width: auto;
}
 
.primary-button-lightroot-class-name55 {
  width: auto;
}
 
.primary-button-lightroot-class-name56 {
  width: auto;
}
 
.primary-button-lightroot-class-name57 {
  width: auto;
}
 
.primary-button-lightroot-class-name58 {
  width: auto;
}
 
@media(max-width: 1536px) {
  .primary-button-light-text1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
  }
}
 
@media(max-width: 1280px) {
  .primary-button-light-button {
    width: 100%;
  }
  .primary-button-lightroot-class-name31 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name46 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name47 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name48 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name49 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name50 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name51 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name52 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name53 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name54 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name55 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name56 {
    width: 100%;
    align-self: center;
  }
  .primary-button-lightroot-class-name57 {
    width: 100%;
    align-self: center;
  }
}
 
@media(max-width: 390px) {
  .primary-button-light-container {
    width: 100%;
  }
}
