.secondary-button-dark1-container {
  color: white;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.secondary-button-dark1-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-default-white);
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: center;
  background-color: transparent;
}
 
.secondary-button-dark1-text1 {
  fill: var(--dl-color-default-white);
  color: var(--dl-color-default-white);
}
 
.secondary-button-dark1-chevron-right {
  width: 16px;
  height: 16px;
}
 
.secondary-button-dark1-fragment {
  display: contents;
}
 
.secondary-button-dark1-text2 {
  display: inline-block;
}
 
.secondary-button-dark1root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 

 

 
.secondary-button-dark1root-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 

 
.secondary-button-dark1root-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.secondary-button-dark1root-class-name6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
@media(max-width: 1280px) {
  .secondary-button-dark1-button {
    width: 100%;
  }
}
 
@media(max-width: 390px) {
  .secondary-button-dark1-container {
    width: 100%;
  }
}
